    body{
      margin:0;
      padding:0;

    }
    .errors{
	color: red;
}
    .back{
      background-image:url(https://cdnwp.dealerk.com/eed49ed7/uploads/sites/723/2020/02/controlli-periodici-officina-verona.jpg);
       background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      width:100%;
      height:100%;
      -webkit-filter: blur(10px);
      position:fixed;
    }
    .register-form{
      background-color:#fff;
      background-opacity:0.4;
      position: fixed;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      width:30%;
      height:745px;
      border-radius:10px;
      box-shadow:0px 0px 100px #000;
      z-index:2;
    }
    .reg-text{
      position:absolute;
      font-family:sans-serif;
      font-size:46px;
      text-transform: capitalize;
      top:20px;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #383838;

    }
    .reg-form{
      position:relative;
      top:70px;
      margin:40px;
      height:200px;
    }


     input{
      width:100%;
       background: rgba(255,255,255,0);
      font-size:18px ;
      margin:10px auto 2px auto;
      border:none;
      outline:none;
    }
    hr{
      position:relative;
      top:-10px;
      opacity:0.5;
    }
.terms label{
  display: block;
  padding-left: 25px;
  font-family:sans-serif;
  font-size:12px;
  color:grey;
  text-indent: -18px;
}
button {
  border:none;
  text-transform:uppercase;
  margin:40px 0px 0px 0px;
      font-size: 25px;
  padding:12px;
  color:#fff;
  background:#5b98f5;
  border-radius:5px;
  outline:none;
  cursor:pointer;
}
button :hover{
  transform: scale(1.1);
}
.largen:active{
  transform: scale(2);
}
.col-3 {
    float: left;
    width: 100%;
    margin: 19px 3%;
    position: relative;
}
.effect-1, .effect-2, .effect-3 {
    border: 0;
    padding-top: 7px;
    border-bottom: 1px solid #ccc;
}
:focus {
    outline: none;
}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}