  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head  th:replace="fragments/base.html :: headerfiles(title='Workhop')"> 

</head>

<body>
<header th:replace="fragments/base.html :: header"></header>

<div class="mainblock">
	<div class="first_conteiner">
</div>
<div class="text_position">
	<div class="text">
			WE TAKE CARE
	</div>
	</div>
	<div class="text_position2">
		<div class="text2">
			OF YOUR VEHICLE 
		</div>
		</div>
		<div class="text_position3">
			<div class="text3">
				Established in 2005, Workshop Plus has built its reputation as a reliable and expert 
				auto repair and service agent, and is the efficient one-stop destination for all your vehicle needs.  
			</div>
			</div>

			<div class="section-2">
				<div class="picture_2">
					<img src="images/2-7.jpg" alt="">
				</div>
				<div class="part_2">
						<div class="descrition">
							<div class="sec-title is-separate ">
								<h2 style="color: #000000;"><span style="font-size: 40px;">One-stop shop for all Auto repairs</span></h2>
									<div style="color: #898989;"><p>Workshop Plus is equipped with latest technology, excellent infrastructural facilities and a team of professional mechanics to solve every automobile-related need. Our high standard premium auto garage features quality services and state-of-the-art machinery and equipment to give you the service you deserve.</p>
							</div>
								</div>
								<div class="desc_opt">
									<div class="desc_list">
										<ul class="dtc  ">
        

											<li>
												<i class="fa fa-arrow-circle-right"></i>
												COMPUTER DIAGNOSTICS</li>
											
											
											
											<li>
												<i class="fa fa-arrow-circle-right"></i>
												COMPLETE SAFETY ANALYSIS</li>
											
											
											
											<li>
												<i class="fa fa-arrow-circle-right"></i>
												DRIVABILITY PROBLEMS</li>
											
											
											
											<li>
												<i class="fa fa-arrow-circle-right"></i>
												COMPLETE SAFETY ANALYSIS</li>
											
											
											
											<li>
												<i class="fa fa-arrow-circle-right"></i>
												PERFORMANCE UPGRADE</li>
											
												</ul>
									</div>
									<div class="desc_img">
<img src="images/bg.png" alt="">
									</div>
								</div>
						</div>
				</div>
			</div>
</div>
</body>
</html>